<div class="form-group">
    <input type="hidden" value="{{computador.id}}" name="id">
    <input class="form-control" type="text" name="nome" placeholder="Nome" value="{{computador.nome}}">
</div>
<div class="form-group">
    <input class="form-control" type="text" name="ip" placeholder="IP" value="{{computador.ip}}">
</div>
<div class="form-group">
    <input class="form-control" type="text" name="chave" placeholder="Chave" value="{{computador.chave}}">
</div>
<button class="btn btn-primary float-left" onclick="atualizarDadosComputador({{computador.id}})" type="button">Atualizar</button>
<button class="btn btn-danger float-right" onclick="deletarComputador({{computador.id}})" type="button">Excluir</button>