<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Titulo</label>
          <input class="form-control" name="titulo" type="text" value="{{tarefa.titulo}}" placeholder="Titulo do trabalho">
        </div>
      </div>
    </div>
    <!-- .\row-->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Palavras para Pequisar</label>
          <input class="form-control" name="keys" type="text" value="{{palavras}}" placeholder="Inserir palavras separadas por vírgula">
        </div>
      </div>
    </div>
    <!-- .\row-->
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Texto</label>
          <textarea class="form-control" name="conteudo" rows="9" placeholder="Texto para procurar">{{tarefa.conteudo}}
          </textarea>
        </div>
      </div>
    </div>
    <!-- .\row-->
  </div>
</div>
